.container {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 100vw;
  height: 100%;
}

.container.fullscreen {
  z-index: 0;
  position: absolute;
}
